.fi-tab-repeater .fi-tabs-item-label {
    display: flex;
    gap: .5rem;
    cursor: pointer;
    align-items: center;
    user-select: none;
}

.fi-tab-repeater.fi-vertical .fi-tabs-item-label {
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

.fi-tab-repeater.fi-vertical:not(:has(.fi-empty-state)) .fi-tabs-item-label > button {
    width: 100%;
}
